<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="email"
      placeholder="Email"
    />
    <div
      *ngIf="
        form.get('email')?.invalid &&
        (form.get('email')?.dirty || form.get('email')?.touched)
      "
    >
      <span *ngIf="form.get('email')?.hasError('required')"
        >Email là bắt buộc</span
      >
      <span *ngIf="form.get('email')?.hasError('email')"
        >Email không đúng cú pháp</span
      >
    </div>
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />
    <div
      *ngIf="
        form.get('password')?.invalid &&
        (form.get('password')?.dirty || form.get('password')?.touched)
      "
    >
      <span *ngIf="form.get('password')?.hasError('required')"
        >Mật khẩu là bắt buộc</span
      >
      <span *ngIf="form.get('password')?.hasError('minlength')"
        >Mật khẩu ít nhất 6 ký tự</span
      >
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Đăng nhap</button>
</form>
