<form action="" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">price</label>
    <input type="text" class="form-control" formControlName="price" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">imageUrl</label>
    <input type="text" class="form-control" formControlName="imageUrl" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">description</label>
    <input type="text" class="form-control" formControlName="description" />
  </div>
  <button type="submit" class="btn btn-primary">update</button>
</form>
